{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "690488446884.dkr.ecr.us-east-1.amazonaws.com/tmqa-backend:latest",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": 8000,
      "HostPort": 8000
    }
  ]
}

